.title {
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
}


.game {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell:hover {
    background: #88cbdd;
    cursor: pointer;
}

.cell {
    width: 30px;
    height: 30px;
    background: #94D0FF;
}

.cell.killed {
    background: #FF6AD5;
}

.cell.checked {
    background: #8795E8;
}


.messages {
    height: 250px;
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
}

.messages .message {
    padding-top: 3px;
    font-style: italic;
}

#code {
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#code-text {
    width: 350px;
    text-align: center;
    font-style: italic;
}

.buttons {
    display: flex;
}
.button {
   width: 100px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   margin-top: 10px;
   background: #94D0FF;
   font-weight: bold;
}

.button:first-child {
    margin-right: 4px;
}

.button:last-child {
    margin-left: 4px;
}


.button:hover {
    background: #88cbdd;
    cursor: pointer;
}

#main-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url(/public/image/palm.png);
    background-repeat: no-repeat no-repeat;
    background-position-x: 5%;
    background-position-y: 101%;
}

#main-frame::after {
    content: "";
    background: url(/public/image/main-back.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
